<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div id="top" class="post-container">
<form method="post">
    <div class="forum-post">
        <p th:text="${post.user.username}"></p>
        <h1 th:text="${post.title}"></h1>
        <h4 th:text="${post.body}"></h4>
    </div>
    <hr>
    <div class="comments">
        <th:block th:each="comment : ${post.comment}">
            <div class="comment-block">
                <p th:text="${comment.user.username}" class="comment-username"></p>
                <p th:text="${comment.body}"></p>
            </div>
            <hr>
        </th:block>
    </div>
    <div class="comment-post">

        <textarea th:field="${comment.body}" rows="3" cols="1" class="form-control"></textarea>
        <input type="checkbox" name="forum" th:value="${post.id}" checked hidden>
        <input type="checkbox" name="user" th:value="${user.id}" checked hidden>
        <input type="submit" value="Post" class="btn btn-success">
    </div>
</form>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>