<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<form method="post">
    <div class="forum-post">
        <h1 th:text="${post.title}"></h1>
        <h4 th:text="${post.body}"></h4>
    </div>
    <div class="comments">
        <th:block th:each="comment : ${post.comment}">
            <p th:text="${comment.body}"></p>
        </th:block>
    </div>
    <div class="comment-post">

        <textarea th:field="${comment.body}" rows="3" cols="1" class="form-control"></textarea>
        <input type="checkbox" name="forum" th:value="${post.id}" checked hidden>
        <input type="submit" value="Post" class="btn btn-success">
    </div>
</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>