body{
background-color: #FFF7D1;
}

/* ***landing page*** */
body, html {
    height: 100%;
    width:100%;
    margin:0;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/classroom.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.landing{
margin:0;
width:100%;
align: center;
}

.login{
position: absolute;
top:5%;
left:80%;
display:inline-block;
text-align: center;
font-weight: 600;
color:white;
}

.login-button{
padding-top: 10px;
}

.login-label{
padding:4px;
}

.signup{
color:white;
}

/* ***Navbar*** */
.navbar{
border-bottom:2px solid black;
background-color: #FFD09B;
padding:2%;
}

.navbar-brand{
font-weight:bold;
}

/* ***Forum Page*** */
.post-container{
margin:2%;
}

.comment-block{
border: 2px solid black;
}

.comment-username{
margin: 0;
background-color: lightgrey;
border:1px solid black;
}

.forum-label{
font-weight:600;
}

/* ***Footer*** */
footer{
text-align:center;
}