<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<form action="" method="post" id="login">
    <div  class="form-group">
        <label> UserName
            <input type="text" name="username" class="form-control">
        </label>
    </div>
    <div  class="form-group">
        <label>Password
        <input type="password" class="form-control">
    </label>
    </div>
<div class="form-group">
    <input type="submit" value="Go!" class="btn btn-success">
</div>
    <a th:href="signup">Sign Up</a>
</form>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>