<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="">
    <label>Personal Information:
        <label>First Name:
            <input type="text" name="first_name">
        </label>
        <label>Last Name:
            <input type="text" name="last_name">
        </label>
        <label>Email:
            <input type="email" name="email">
        </label>
    </label>
    <hr>
    <label>Select Role:
        <input type="radio" id="student" name="role" value="Student">
        <label for="student"> Student</label>
        <input type="radio" id="tutor" name="role" value="Tutor">
        <label for="tutor"> Tutor </label>
    </label>
    <hr>
    <label>Select Subjects:
        <input type="checkbox" id="subject1" name="subject1" value="Mathematics">
        <label for="subject1">Mathematics</label>
        <input type="checkbox" id="subject2" name="subject2" value="Language">
        <label for="subject2">Language</label>
        <input type="checkbox" id="subject3" name="subject3" value="History">
        <label for="subject3">History</label>
        <input type="checkbox" id="subject4" name="subject4" value="Science">
        <label for="subject4">Science</label>
        <input type="checkbox" id="subject5" name="subject5" value="Social Studies">
        <label for="subject5">Social Studies</label>
    </label>
    <hr>
    <input type="submit" value="Sign Up!">
</form>
</body>
</html>